th {
    text-align: left;
    padding: 10px 0;
}

td {
    padding: 0 40px 0 0;
}

table {
    border-top: solid 5px rgb(215, 234, 255);
    /* border-bottom: solid 5px rgb(215, 234, 255); */
    padding-bottom: 10px;
}

td:nth-of-type(2){
    width: 280px;
}

.table--actions{
    padding-right: 0;
}
.table__delete-button:hover{
    background-color: rgb(252, 120, 120);
}

.table__delete-button:active{
    background-color: rgb(255, 94, 94);
}